# Visual Studio системные папки
.vs/
Debug/
Release/
x64/
x86/

# Файлы сборки и логов
*.sln.ghost
*.suo
*.user
*.userosscache
*.sln.doccache
*.sdf
*.opensdf
*.pdb
*.obj
*.log
*.tlog
*.lastbuildstate
*.idb

# Временные файлы компилятора
ipch/
*.VC.db
*.VC.opendb